<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.430401003107-hv1ac1e0su827phcm68gd57ulu87br3s</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>430401003107-hv1ac1e0su827phcm68gd57ulu87br3s.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>ZingRustDemo-Base.otf</string>
		<string>Jost-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>appColor</string>
		<key>UIImageName</key>
		<string>launchScreen</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
